/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------FUENTE A UTILIZAR----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat:wght@200&family=Stylish&display=swap');

body{
    font-family: 'Montserrat';
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------ESTILOS A LOS ELEMENTOS DE LA PAGINA----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------FORMULARIOS DE REGISTRO, LOGIN, CONTACTO----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main{
    
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 30px;
    
}
.main h2{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(30, 61, 236);
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.formulario_etiqueta{
    display: block;
    color: rgb(30, 61, 236);
    font-weight: 900;
    padding: 10px;
    cursor: pointer;
}
.formulario_grupo_input{
    position: relative;
}
.formulario_input{
    box-sizing: border-box;
    width: 100%;
    background: rgb(233, 236, 18, 0.5);
    border:  3px solid transparent;
    border-radius: 3px;
    height: 35px;
    font-size: large;
    line-height: 35px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formulario_textarea{
    box-sizing: border-box;
    width: 100%;
    background: rgb(233, 236, 18, 0.5);
    border:  3px solid transparent;
    border-radius: 3px;
    height: 100px;

    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formulario_textarea:focus{
    border: 3px solid rgb(30, 61, 236);
    outline: none;
    box-shadow: 3px 0 30px rgba(61, 64, 65, 0.4);
}
.formulario_input:focus{
    border: 3px solid rgb(30, 61, 236);
    outline: none;
    box-shadow: 3px 0 30px rgba(61, 64, 65, 0.4);
}
.formulario_input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none; /*-----------Cambiar valor para mostrar al validar-----------------*/
}
.formulario_input-error-activo{
    display: block;
}
.formulario_validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;/*-----------Cambiar valor para mostrar al validar-----------------*/
}
.formulario_checkbox{
    margin-right: 10px;
}
.formulario_terminos, .formulario_mensaje, .formulario_btn_enviar{
    grid-column: span 2;
}
.formulario_mensaje{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    background: #f66060;
    border-radius: 3px;
    display: none;  /*-----------Cambiar valor para mostrar al validar-----------------*/
}
.formulario_mensaje-activo{
    display: block;
}
.formulario_mensaje p{
    margin: 0;
}
.formulario_btn_enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario_btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    background: rgb(233, 236, 18, 0.5);
    cursor: pointer;
    transition: .2s ease all;
}
.formulario_btn:hover{
    background:  rgb(30, 61, 236);
    color: #fff;
    box-shadow: 3px 0 30px rgba(61, 64, 65, 0.4);
}
.formulario_mensaje_exito{
    font-size: 14px;
    color: #119200;
    display: none;   /*-----------Cambiar valor para mostrar al validar-----------------*/
}
.formulario_mensaje_exito-activo{
    display: block;
}
.grupo_formulario-correcto .formulario_validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.grupo_formulario-incorrecto .formulario_validacion-estado{
    color: #d41111;
    opacity: 1;
}
.grupo_formulario-incorrecto .formulario_etiqueta{
    color: #d41111;
}
.grupo_formulario-incorrecto .formulario_input{
    border: 3px solid #d41111;
}
.container-form{
    max-width: 300px;
    width: 90%;
    margin: 0 auto;

}
#password, #password2, #user_password{
    font-size: 30px;
}
.btn-login{
    width: 60%;
}

.formulario-contacto{
    max-width: 500px;
    margin: auto;
}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------ZONA RESPONSIVE----------------------------------------****/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------CORTE 1----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1050px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario_terminos, .formulario_mensaje, .formulario_btn_enviar{
        grid-column: 1;
    }
    .item-buscador{
        display: none;
    }
    .container-logo{
        display: inline-flex;
    }
    .formulario_btn{
        width: 50%;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------CORTE 2----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 650px) {
    .logo1{
        display: none;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------CORTE 3----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 375px) {
    .logo{
        width: 30vw;
        height: auto;
    }
}
/*----------------*/