/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------FUENTE A UTILIZAR----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat:wght@200&family=Stylish&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------GRID DE LA PAGINA----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container {
    display: grid;
    grid-template: 150px auto 1fr / 60% 20% 20%;
    grid-template-areas:    "header     header      header"
                            "contenido  contenido   contenido"
                            "footer     footer      footer";
    gap: 5px;
    max-width: 1200px;
    margin: 0 auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------ENCABEZADO----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.header {
    grid-area: header;
    
}

.container-header {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.weather-content{
    
    text-align: center;
    border-radius: 9px;
    
    
}

.weather-content .resultado h5, p, h2{
    color: blue;
    font-size: 14px;
}
.weather-content .resultado img{
    width: 30px;
}
.container-carrito-header {
    flex-direction: column;
    width: 30%;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-login{
    width: auto;
}
.nav-carrito {
    
    display: inline-flex;
    list-style: none;
   
    width: 100%;
    justify-content: center;
    
}
.nav-carrito-inactivo{
    display: none;
}

#txt-user{
    
    width: auto;
    color: blue;
    height: auto;
    text-align: center;
    font-size: 90%;
    font-weight: 800;
    font-size-adjust: 0.2;
}
#btn_close_session{
    width: 100%;
    padding: 10px;
    color: blue;
    background: rgb(233, 236, 18, 0.5);
    outline: none;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
#btn_close_session:hover{
    background-color: rgb(30, 61, 236);
    border-radius: 5px;
    color: #fff;
    scale: 1.2;
    transition: 0.4s;
}
.close_session{
    display: none;
}
.close_session-activo{
    display: block;
}
.container-logo2{
    /* display: none; */
    display: flex;
    justify-content: center;
   display: none;
    
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------BARRA DE NAVEGACION----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container .header .container-nav {
    width: 100%;
    background-color: rgb(233, 236, 18, 0.5);
    
}

.nav-link {
    text-decoration: none;
    padding: 1.2vh 2vw;
    width: 200px;
    cursor: pointer;
    text-align: center;

}

.nav-link:hover {
    background-color: rgb(30, 61, 236);
    border-radius: 5px;
    color: #fff;
    scale: 1.2;
    transition: 0.4s;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------TOOLSTIPS----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/

.toolstip{
    font-weight: normal;
    position: relative;
    padding: 0 30px;
}
.toolstip-box{
    position: absolute;
    background-color: rgb(233, 236, 18, 0.5);
    border-radius: 5px;
    line-height: 20px;
    font-size: 14px;
    z-index: 500;
    right: -60px;
    top: -45px;
    width: 200px;
    display: none;
}
.toolstip-box::after{
    content: '';
    display: block;
    border-top: 7px solid rgb(233, 236, 18, 0.5);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: calc(50% - 7px);
}
.toolstip:hover .toolstip-box{
    display: inline-block;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------PRODUCTOS----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contenido{
    grid-area: contenido;
    margin: 25px 0;
     
}
.contenido h1, span{
    display: block;
    text-align: center;
    margin: 10px 0 15px 0;
    color: blue;
}
.contenido .container-contenido{
    max-width: 1200px;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
    
}
.contenido .titulo-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido .titulo-contenido h1 {
    color: blue;
    padding-bottom: 5px;
}

.contenido .titulo-contenido span {
    color: blue;
    padding-bottom: 5px;
}

.contenido .container-contenido .container-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    
    grid-row-gap: 15px;
    
    /* width: 60%; */
    width: 100%;
   
}

.contenido .container-contenido .container-productos .producto {
    max-width: 220px;
    height: 350px;
    
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenido .container-contenido .container-productos .producto:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenido .container-contenido .container-productos .producto .img-producto {
    width: 100%;
    width: 150px;
    height: 150px;
    
}

.contenido .container-contenido .container-productos .producto .titulo-producto {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2vw;
    
    height: 30px;
}

.contenido .container-contenido .container-productos .producto .precio-producto {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenido .container-contenido .container-productos .producto .btn-agregar-producto{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgb(233, 236, 18, 0.5);
    color: rgb(30, 61, 236);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.contenido .container-contenido .container-productos .producto .btn-agregar-producto:hover{
    box-shadow: 0 0 10px rgb(75, 77, 104);
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------CARRITO DE COMPRAS----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar el carro de compa */
    margin-right: -100%;
    opacity: 0;
}
.container-carrito .header-carrito{
    background-color: rgb(233, 236, 18, 0.5);
    color: rgb(30, 61, 236);
    text-align: center;
    padding: 30px 0;
}
.container-carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.container-carrito .carrito-item img{
    margin-right: 20px;
}
.container-carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.container-carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.container-carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.container-carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.container-carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.container-carrito .carrito-item .btn-eliminar-producto{
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgb(30, 61, 236);
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.container-carrito .carrito-item .btn-eliminar-producto i{
    pointer-events: none;
}
.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .fila strong{
    color: rgb(30, 61, 236) ;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: rgb(233, 236, 18, 0.5);
    color: rgb(30, 61, 236);
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------PIE DE PAGINA----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footer {
    grid-area: footer;
    background-color: rgba(232, 236, 18, 0.5);
   

}
.link-footer{
    list-style: none;
}
.link-footer a{
    text-decoration: none;
}
.footer .container-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
    
}

.footer-mg{
    margin: 10px;
}
.img-wd {
    max-width: 40px;
    height: 25px;
    padding: 0 10px 10px 0;
}

.footer .container-footer .container-footer-medios-de-pago .container-img-pagos {
    display: flex;
    flex-wrap: wrap;
}

.copy-right {
    text-align: center;
    background-color: rgb(78, 77, 76);
    padding: 5px;
}
.copy-right span{
    color: white;
}
.iconos{
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.btn-whatsapp svg {
    width: 30px;
    height: 30px;
    padding: 5px 2px;
    fill: black;
    
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------CORTE 1----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 850px) {
    .contenido .container-contenido {
      display: block;
      width: 100%;
    }
    .contenido .container-contenido .container-productos {
      width: 100% !important; 
    }
    .contenido .container-contenido .container-carrito {
      width: 100%;
    }
    .weather-content{
        display: none;
    }
    
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------CORTE 2----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 650px) {
    .logo1{
        display: none;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------CORTE 3----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 550px) {
    .container-header{
        display: none;  
    }
    .container-logo2{
        display: flex;
        align-items: center;        
    }
    .container{
        grid-template: 10px auto 1fr / 60% 20% 20%;;
        grid-template-areas:    "header     header      header"
        "contenido  contenido   contenido"
        "footer     footer      footer";
    }
    /* .container-logo2 img{
        width: 100px;
    } */
}
/*----------------*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/****----------------------------------------CORTE 4----------------------------------------****/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 375px) {
    .logo{
        width: 30vw;
        height: auto;
    }
}
/*----------------*/
